.rox.around-xs
  - @ads.each do |ad|
    .demo-card-square.mdl-card.mdl-shadow--2dp
      .box
        .mdl-card__title.mdl-card--expand
          %h2.mdl-card__title-text
            =link_to "#{ad.title}", ad
          %h2.mdl-card__title-text
            $
            = ad.price
        .mdl-card__supporting-text
          = ad.description
        .mdl-card__actions.mdl-card--border
          %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
            Ver Mas

